@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0px; padding: 0px;}
body{

    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{ 
    
    font-family: 'Oswald', sans-serif;
    font-weight: 500;

}

section{

    padding: 80px 0px;
}

.topbarMain {
    background: #f5f5f5;
}


.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.phone {
    width: 200px;
    float: left;
    padding: 15px 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
   
}

.email {
    width: 758px;
    float: left;
    padding: 15px 10px;
}

.social {
    width: 140px;
    float: left;
    transition: .3s;
}

.topbarWrapper {
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: 2b2b2b;
}

.social i:hover{
    color: ff5200;
}

.social i{
    color:black;
}


.social a:first-child{ 
    border-left: 1px solid #ddd;
}

.phone i{
    color: ff5200;
}

.email i{
    color: ff5200;
}






.primaryWrapper {
    overflow: hidden;
    width: 100%;
}

.logo {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.menu {
    width: 990;
    float: left;
    list-style: none;
}

ul.mainMenuitem {
    list-style: none;
    float:right
}

ul.mainMenuitem li {
    float: left;
}

ul.mainMenuitem li a {
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 30px 15px;
    color:#0e0e0e;
    font-weight:bold;
    transition: .5s;

}

li#searchButtom {
    margin-top: 5px;
}

ul.mainMenuitem li a:hover{

    color: ff5200;
    
}


#homeSlider{

    background: url(Background\ image/slide-2.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0px;
}


.sliderContent h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    /* color: white; */
    margin-top: 120;
    float: left;
}

.sliderContent {
    color: white;
    width: 600;
}

.sliderContent p {
    font-weight: 600;
    line-height: 25px;
    width: 490;
    margin-bottom: 30px;
}

#contactUs {
    background:white;
    color: white;
    border: 1px solid black;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 120px;
    cursor: pointer;
}



.SliderNav {idth: 200px;
    margin: auto;
    padding: 30px 0px;

    
}

.SliderNav span {
    width: 10px;
    height: 10px;
    border: 4px solid #ddd;
    background: transparent;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    float:left;
    margin: 4px;
}

.SliderNav span:last-child{

    background: #ff8800;
}





#services{

    background: #f5f6f6;
}

.sboxWrapper {
    overflow: hidden;
}

.singleBox {
    width: 225px;
    background: white;
    padding: 15px;
    float: left;
    margin-right: 30px;
    transition: .3s;
}

.singleBox:hover{

    background: #fb5200;
    color: white;
    cursor: pointer;
   
}
.singleBox i{color: #fb5200;}
.singleBox:hover h2, i, a{

    color: white;
}
.singlebox:hover .sBoxIcon i{color:white;}

.singleBox:hover .sBoxLink a{

    color: white;
}
.singlebox:hover i.fa-long-arrow-right{
    color:white;
}

.sBoxTitle {
    text-align: center;
    width: 150px;
    margin: auto;
}

.sBoxTitle h2 {
    letter-spacing: -1.1px;
    font-size: 20px;
    color: #333;
    line-height: 28px;
    text-transform: uppercase;
    margin: 30px 0px;
}

.sBoxIcon {
    text-align: center;
    font-size: 40px;
    color: #fb5200;
    margin: 30px 0px;
}

.sBoxdisc {
    text-align: center;
    margin: 30px 0px;
}

.sBoxLink {
    text-align: center;
    margin: 25px 0px;
}

.sBoxLink a {
    color: #fb5200;
    text-decoration: none;
    font-weight: 500;
}

.sboxactive{

    background: #fb5200;
    color: white;
}
.singlebox i.fa-long-arrow-right{color: #fb5200;}
.sboxactive h2{color: white;}
.sboxactive a{color: white;}
.sboxactive i{color: white;}





.tesmContents {
    overflow: hidden;
}

.teamImage {
    width: 550px;
    float: left;
}

.teamImage img {
    max-width: 100%;
}

.teamdetails {
    width: 535px;
    float: right;
}

.titledisc h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.titledisc p {
    color: #666;
    margin-bottom: 15px;
    line-height: 25px;
}

.teamfacilities ul {
    margin: -2px;
    padding: 0px;
    width: 260px;
    float: right;
    ;
}


.teamfacilities ul li {
    line-height: 40px;
    font-weight: 600px;
}

.teamfacilities {
    overflow: hidden;
    margin-bottom: 25px;
}


.teamContentbtn a {
    color: white;
    background: #fb5200;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    transform: .3s;
}

.teamContentbtn a:hover{

    background: #333;
    color: white;
}



#whychosus{

    background: linear-gradient(#000000b8,#000000b8), url(why-choose-us1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.iconWrapper {
    overflow: hidden;
}

.singleIcon {
    width: 210px;
    color: white;
    text-align: center;
    float: left;
    margin-right: 100px;
}

.Sicon {
    font-size: 40px;
}

.singleIcon h2 {
    font-size: 55px;
    font-weight: 900;
    margin: 10px 0px;
    font-family: arial black;
}

.singleIcon h4 {
    font-size: 22px;
}

.singleIcon:last-child {
    margin-right: 0px;
}




#blo0gPost{

    background: #f5f6f5;
}
.secTitle {
    text-align: center;
    margin-bottom: 60px;
}

.secTitle h2 {
    font-size: 45px;
    margin-bottom: 30px;
    position: relative;
}

.secTitle h2:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background: #fb5200;
    width: 70px;
    border-bottom: 4px solid #fb5200;
    left: 50%;
    margin-left: -55px;
}

.secTitle p {width: 550px;margin: auto;line-height: 25px;font-size: 17px;color: #333;}



.postWrapper {
    overflow: hidden;
}

.singlePost {
    width: 250px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}
.singlePost:last-child{0px}

.singlePost img {

    width: 100%;

}


.PostImage {
    margin-bottom: 20px;
}

.PostInfo p {
    margin-top: 10px;
    line-height: 23px;
    color: #666;
}


.singleTable {
    width: 288px;
    overflow: hidden;
    float: left;
    border: 1px solid #e6e5e5;
    padding: 30px;
    margin-right: 30px;
}

.singleTable h3 {
    font-size: 25px;
}

.singleTable h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: arial black;
    margin: 8px 0px;
}

.singleTable h1 span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 800 !important;
    font-family: arial;
}

.singleTable ul {
    margin: 25px;
    line-height: 40px;
}

button#tableGetStarted {
    background: #fb5200;
    color: white;
    padding: 13px 47px;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    font-family: oswald;
    margin: 20px 0px;
}

button#tableGetStarted:hover {
    color: white;
    background: #333;
    cursor: pointer;
}

.tableList {
    overflow: hidden;
}





.leftImage{
    
    background: url(background image/s02.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}